@{
    ViewBag.Title = "About us:";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci dapibus ultrices in iaculis nunc. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Feugiat vivamus at augue eget. Amet commodo nulla facilisi nullam vehicula. Vivamus at augue eget arcu dictum. Phasellus egestas tellus rutrum tellus pellentesque. Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Vulputate dignissim suspendisse in est ante. Pretium viverra suspendisse potenti nullam. Urna nec tincidunt praesent semper feugiat nibh. Quam quisque id diam vel quam elementum pulvinar. Senectus et netus et malesuada fames ac turpis egestas. Et magnis dis parturient montes nascetur ridiculus.</p>

